* {
    box-sizing: border-box;
    padding: 0 ;
    margin: 0;
  }
  
  body {
    font-family: 'Rubik', sans-serif;
  }
  
  .container {
    width: 1140px;
    margin: 0 auto;
  }
  .row {
    display: flex;
    flex-flow: row wrap;
  }
  
  .row.header {
    justify-content: space-between;
    align-items: center;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  header {
    padding: 20px 0;
  }
  
  /* logo */
  .logo-link {
    display: flex;
    align-items: center;
  }
  
  .logo-link h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0B132A;
  }
  .logo-link h1 span {
    font-weight: 700;
  }
  
  header ul {
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    margin: 0 20px;
  }
  .nav-item .nav-link {
    font-size: 16px;
    line-height: 19px;
    color: #4F5665;
    text-transform: capitalize;
    transition: color 0.5s ease;
  }
  
  .nav-item .nav-link:hover {
    color: black;
  }
  
  .sign-link {
    font-weight: 500;
    color: #0B132A;
    text-transform: capitalize;
  }
  .sign-item.sign-up {
    margin-left: 30px;
  }
  
  .sign-item.sign-up a {
    color: #F53855;
    padding: 13px 45px;
    border: 1px solid #F53855;
    border-radius: 50px;
    transition: all 0.5s ease;
    background-color: transparent;
  }
  
  .sign-item.sign-up a:hover {
    background-color:#F53855;
    color: #fff;
  }
  
  /* hero content */
  
  .row.hero {
    padding: 50px 0;
    align-items: center;
  }
  .row.hero > div {
    height: 400px;
  }
  
  .hero-content {
    width: 555px;
  }
  
  .hero-title {
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;
    margin-bottom: 20px;
  }
  
  .hero-title span,
  .hero-text span{
    font-weight: 700;
  }
  
  .hero-text {
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-bottom: 50px;
  }
  
  .hero-link {
    background: #F53838;
    border-radius: 10px;
    padding: 18px 78px;
    color: #fff;
    font-weight: 700;
    box-shadow: 0px 22px 29px -20px #f53838;
  }
  
  .hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.stats-div {
  width: 1100px;
  height: 170px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  box-shadow:0 0 77px #c0b7b75b ;
  border-radius: 25px;
  
  
}
.nine {
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  
  border-right: 1px solid rgb(216, 212, 212);
  padding-right: 25px;
}
.nine h2 {
  margin-top: 15px;
 
}



.nine-plus {
  margin-top: 37px;
  margin-left: 35px;
  margin-right: 90px;
  text-transform: capitalize;
  
}

.nine img {
  width: 55px;
}

.fife {
border: none;
}

.checks h2 {
  font-weight: 500;
font-size: 35px;
line-height: 50px;
}

.checks {
  margin-left: 150px;
}

.advises {
  font-size: 14px;
  line-height: 30px;
  padding: 0 ;
}

.advises li {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.advises li img {
  margin-right: 11px;
}

.provide {
  display: flex;
  margin-top: 50px;
  align-items: center;
}

.your-choose {
  text-align: center;
  margin-top: 80px;

}

.boxes{
  display: flex;
  justify-content: space-between;
}
.first-box {
  width: 30%;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 25px;
  padding-top: 80px;
  padding-left: 93px;
  padding-right: 93px;
  padding-bottom: 50px;
}

.first-box img {
  
  margin-right: 10px;

}

.first-box h2 {
  padding-top: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.first-list li {
  
  width: 210px;
  align-items: center;
  display: flex;
  margin-top: 10px;
  padding: 0 ;
}

.unlimet-div{
  padding-top: 30px;
}

.unlimet-div h2 {
  padding-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.unlimet-div a {
  padding: 10px 50px;
  width: 40px;
  border: 1px solid #F53838;
  color: #F53838;
  border-radius: 20px;
  margin-left: 20px;
  
}

.unlimet-div a:hover{
  background-color:#F53838;
  color: #fff;
}

.first-box:hover {
  border-color: #F53838;
}
